.game-cards {
    width: 100%;
    min-height: calc(100vh - 72px);
    
    max-height: calc(100vh - 72px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
    row-gap: 0px;
    padding: 20px
}   

.game-card {
    min-height: 16vw;
    min-width: 100%;
    margin: 0px 0px 0px 0px !important;
    border-width: 5px;
}

#tic-tac-toe {
    border-color: lightgreen !important;
}


.preview-card{
    min-width: 100%;
    
    min-height: calc(100% - 20px);
    margin: 20px 0px 0px 0px !important;
    
    max-width: 100vw;
    grid-area: 2 / 1 / 2 / 4;
    border-width: 10px;

    height: fit-content
}

.tic-tac-toe {
    border-color: lightgreen !important;
}

.placeholder1 {
    border-color: #e74c3c !important;
}

.placeholder2 {
    border-color: #3498db !important;
}

.default-preview {
    border-color: rgb(68,68,68)!important;
    
}

.preview-img {
    min-height: 600px;
    
    min-width: 900px;
    width: auto;
    height: auto;
}